.product{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(315px,0.3fr));
    margin: 20px 0;
    margin-left: 20px;
}

/*---------------------------ProductItems-----------------------------*/
@import url("./Product/ProductItem.css");