.NavBar-container{
    padding-left: 15px;
    padding-right: 15px;
    width: 480px;
}

.Navbar-cart-title{
    font-size: 32px;
    background: #002c8f;
    color: #fff;
    font-family: Merriweather;
    padding: 20px 17px 13px 29px;
    font-weight: 900;
    border-radius: 20px 20px 0px 0px;
}
.NavBar-cart-text{
    background: #f1f6fb;
    padding: 40px 30px 38px;
    border-radius: 1px 1px 20px 20px;
    color: #002c8f;
}
.Navbar-cart{
    margin-bottom: 25px;
}