.Product-item{
    max-width: 365px;
    height: 569px;
    overflow: hidden;
    box-shadow: 0 0 27px #ddd;
    margin: 15px 0;
    position: relative;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 25px;
}
.Product-item:hover{
    box-shadow: 0 0 8px #9b9b9b;
    transition: all 0.3s ease;
}
.Product-item img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.products-box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
    text-align: center;
    font-family: Merriweather;
    color: #002c8f;
    margin-top: 25px;
    font-size: 25px;
    font-weight: 900;
}
.products-box h2:hover{
    color: #21b6ff;
}
.products-box span{
    display: block;
    text-align: center;
    color: #21b6ff;
    font-size: 24px;
    font-weight: 700;
    padding: 19px 0;
}
.products-box p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    height: 20px;
    color: #323232;
    font-family: Merriweather;
    color: #002c8f;
    margin-top: 17px;
    text-align: center;
}
.center-btn {
    text-align: center;
}
.center-btn button{
    outline: none;
    border: none;
    color: white;
    background: #21b6ff;
    cursor: pointer;
    padding: 11px 44px 15px 41px;
    border-radius: 30px;
    font-size: 14px;

}
.center-btn button:hover{
    background: #002c8f;
    transition: all 0.3s ease;
}
.center-btn svg{
    color: #ffffff;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    left: -3px;
}