header{
    min-height: 80px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #002c8f;
    padding: 7px 0;
    padding-top: 14px;
}
header .logo{
    flex: 1;
    margin-left: 175px;
}
header a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-weight: 500;
    font-family: Merriweather;
}
header a:hover{
    color: #21b6ff;
}
.menu{
    display: none;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;

}
header ul svg{
    position: relative;
    top: 2px;
}
.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}
.cart-icon,
.search-icon{
    position: relative;

    margin-left: 20px;
    font-size: 1px;
    background: #21b6ff;
    width: 45px;
    height: 45px;
    border-radius: 100%;

}
.cart-icon svg{
    position: relative;
    width: 29px;
    right: 2px;
    height: 50px;
    top: -2px;
}
.cart-icon svg:hover{
color: #002c8f;
}

.search-icon svg{
    position: relative;
    width: 21px;
    right: -2px;
    height: 50px;
    top: -3px;
}
.search-icon svg:hover{
    color: #002c8f;
}

.search-icon{
    margin-right: 175px;
}
.cart-icon span{
    background-color: #AEC556;
    border-radius: 130px;
    color: #ffffff;
    position: absolute;
    padding: 2px 7px;
    font-size: 16px;
    left: 27px;
    top: -6px;
    cursor: default;
}

.dropDown-menu{
    background: gray;
    width: 291px;
    position: absolute;
    top: 85px;
    list-style: none;
    text-align: center;
    color: #002c8f;
    padding: 13px;
    border-radius: 30px;
    margin-left: -92px;
    z-index: 100;
    transition: all 1s;
}
.dropdown-menu li {
    background: white;
    cursor: pointer;

}

.dropdown-link{
    color: #002c8f;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: block;
    padding: 17px;
    border-radius: 27px;
    margin-top: 14px;
    margin-bottom: 11px;
}
.dropDown-menu .clicked{
    display: none;
}
.dropdown-link:hover{
    color: white;
    background: #21b6ff;
    border-radius: 27px;
}