* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*---------------------------Header-----------------------------*/
@import url("./Components/Header/Header.css");


/*---------------------------Slider-----------------------------*/
@import url("./Components/Slider/slider.css");


/*---------------------------MaingPage-----------------------------*/
@import url("./Components/MainPages/MainPage.css");

/*---------------------------Navbar-----------------------------*/
@import url("./Components/MainPages/NavBar/Navbar.css");

/*---------------------------Product-----------------------------*/
@import url("Components/MainPages/Products/Products.css");
