.slider{
    position: relative;
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider__image{
    position: absolute;
    width: 100%;
    height: 500px;
    transition: all 0.5s;
}
/*.prev{*/
/*    transform: translateX(-100%);*/
/*}*/

/*.next{*/
/*    transform: translateX(-100%);*/
/*}*/
.text-slider{
    font-size: 20px;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.ffff{
    background: url("./images/mer-de-glace-2423521_1920_0.jpeg")no-repeat;
    width: 100%;
    z-index: 15;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 34px 180px;
    box-shadow: 19px 24px 48px rgb(0 0 0 / 50%);
    transition: all 1.5s ease;
}
.ffff.active{
    background: url("./images/1494915810591a9ae25fe266.08370033.jpg") no-repeat;
    width: 100%;
    z-index: 15;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 34px 180px;
    box-shadow: 19px 24px 48px rgb(0 0 0 / 50%);
    transition: all 1.5s ease;
}

.slider-container{
    display: flex;
    justify-content: center;
    background: #002c8f;
    padding-top: 25px;
    padding-bottom: 95px;
}
.title{
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 0px rgb(17, 44, 145 );
    font-weight: 700;
    line-height: 1;
    font-family: Merriweather;
}
.title p{
    color: #002c8f;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Merriweather;
}
.text-content{
    font-style: italic;
    font-size: 18px;
    margin-top: 29px;
}
.container-content{
    max-width: 500px;
    margin-left: 122px;
    margin-top: 145px;
    margin-bottom: 183px;
}

.Link-slider a{
    color: white;
    padding: 12px 35px;
    margin-right: 18px;
    border-radius: 34px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.Link-slider{
    margin-top: 62px;
}

.Link-slider1{
    background: #21b6ff;
}
.Link-slider1:hover{
    background: #fff;
    color: #002c8f;
}
.Link-slider2{
    background: #002c8f;
}
.Link-slider2:hover{
    background: #fff;
    color: #002c8f;
}
.bottle{
    position: absolute;
    top: 207px;
    right: 160px;
}
.bottle img{
    max-width: 550px;

}

@media screen and (min-width: 1791px){
    .ffff{
        background: url("./images/1617398993_29-p-oboi-gori-antarktidi-30.jpg")no-repeat;
        width: 75%;
        z-index: 15;
        margin-left: 170px;
        margin-right: 170px;
        border-radius: 34px 180px;
        box-shadow: 19px 24px 48px rgb(0 0 0 / 50%);
        transition: all 1.5s ease;
    }
    .ffff.active{
        background: url("./images/1494915810591a9ae25fe266.08370033.jpg") no-repeat;
        width: 75%;
        z-index: 15;
        margin-left: 170px;
        margin-right: 170px;
        border-radius: 34px 180px;
        box-shadow: 19px 24px 48px rgb(0 0 0 / 50%);
        transition: all 1.5s ease;
    }
    .bottle {
        position: absolute;
        top: 175px;
        right: 299px;
    }
    .bottle img {
        max-width: 650px;
    }
    .container-content {
        max-width: 500px;
        margin-left: 122px;
        margin-top: 184px;
        margin-bottom: 222px;
    }
}



.bubl {
    overflow: hidden;
    position: absolute;
    width:100%;
    padding-bottom: 41.25%;
    height: 0;
    background-size: cover;
}
.bublcontent {
    position: relative;
    padding:30px;
    color: #BDE1FF;
    font-size:22px;
    font-weight:bold;
    z-index:100;
}
.bubl1 {
    width: 2px;
    height: 2px;
    border-radius:100%;
    background: transparent;
    box-shadow: 2032px 449px #FFF, 1683px 605px #FFF, 1522px 2312px #FFF, 250px 2364px #FFF, 1767px 976px #FFF, 1009px 319px #FFF, 1975px 1618px #FFF, 440px 953px #FFF, 446px 1170px #FFF, 1040px 1573px #FFF, 356px 2349px #FFF, 2166px 2440px #FFF, 437px 1437px #FFF, 799px 1422px #FFF, 1567px 1725px #FFF, 2479px 1870px #FFF, 2496px 1062px #FFF, 1618px 1916px #FFF, 2097px 2167px #FFF, 1658px 2168px #FFF, 617px 802px #FFF, 218px 1810px #FFF, 2145px 161px #FFF, 1735px 141px #FFF, 1783px 840px #FFF, 59px 477px #FFF, 1518px 754px #FFF, 2343px 388px #FFF, 1097px 2111px #FFF, 2085px 2473px #FFF, 1694px 1492px #FFF, 2154px 674px #FFF, 840px 1964px #FFF, 1908px 1500px #FFF, 2281px 379px #FFF, 689px 223px #FFF, 453px 2098px #FFF, 559px 651px #FFF, 1504px 2385px #FFF, 440px 8px #FFF, 2263px 54px #FFF, 1400px 760px #FFF, 545px 1922px #FFF, 2401px 577px #FFF, 1943px 578px #FFF, 436px 125px #FFF, 1460px 186px #FFF, 2009px 852px #FFF, 94px 746px #FFF, 508px 535px #FFF, 1328px 373px #FFF, 429px 458px #FFF, 1081px 1977px #FFF, 1181px 349px #FFF, 1855px 1894px #FFF, 2352px 824px #FFF, 2023px 2256px #FFF, 574px 998px #FFF, 137px 2128px #FFF, 1415px 1003px #FFF, 1873px 363px #FFF, 530px 223px #FFF, 2400px 1390px #FFF, 1px 2335px #FFF, 939px 189px #FFF, 183px 135px #FFF, 2460px 1522px #FFF, 2031px 1500px #FFF, 2061px 2134px #FFF, 1853px 1147px #FFF, 1749px 1551px #FFF, 261px 1977px #FFF, 1069px 887px #FFF, 2382px 135px #FFF, 1779px 1448px #FFF, 689px 1788px #FFF, 1936px 919px #FFF, 1099px 1910px #FFF, 403px 1923px #FFF, 410px 2061px #FFF, 1735px 850px #FFF, 1787px 235px #FFF, 2382px 300px #FFF, 2083px 952px #FFF, 1207px 1327px #FFF, 1449px 1120px #FFF, 1009px 357px #FFF, 2328px 815px #FFF, 1298px 1844px #FFF, 382px 1028px #FFF, 691px 1360px #FFF, 1302px 1092px #FFF, 79px 1641px #FFF, 2456px 386px #FFF, 1388px 1605px #FFF, 630px 303px #FFF, 2041px 600px #FFF, 890px 1302px #FFF, 925px 2205px #FFF, 690px 1178px #FFF, 242px 1012px #FFF, 177px 2345px #FFF, 1317px 815px #FFF, 406px 867px #FFF, 726px 806px #FFF, 2450px 164px #FFF, 1771px 767px #FFF, 672px 1144px #FFF, 1946px 972px #FFF, 29px 169px #FFF, 1242px 2377px #FFF, 601px 2485px #FFF, 147px 1745px #FFF, 1240px 265px #FFF, 1212px 906px #FFF, 473px 978px #FFF, 2049px 969px #FFF, 1518px 713px #FFF, 1117px 1436px #FFF, 704px 2177px #FFF, 566px 2426px #FFF, 1691px 1239px #FFF, 727px 2370px #FFF, 2035px 2369px #FFF, 1479px 864px #FFF, 1324px 635px #FFF, 1461px 1450px #FFF, 1083px 1543px #FFF, 2334px 791px #FFF, 2273px 2056px #FFF, 2037px 2452px #FFF, 581px 2px #FFF, 904px 1308px #FFF, 919px 1050px #FFF, 1256px 87px #FFF, 342px 476px #FFF, 442px 388px #FFF, 370px 1954px #FFF, 1749px 2185px #FFF, 2291px 128px #FFF, 491px 754px #FFF, 2108px 1170px #FFF, 1126px 202px #FFF, 2413px 81px #FFF, 1602px 1610px #FFF, 1159px 840px #FFF, 1099px 513px #FFF, 219px 2099px #FFF, 1029px 1791px #FFF, 2298px 462px #FFF, 1900px 7px #FFF, 643px 519px #FFF, 2482px 1855px #FFF, 1662px 1743px #FFF, 154px 2259px #FFF, 194px 628px #FFF, 1090px 2062px #FFF, 2348px 957px #FFF, 1889px 375px #FFF, 1897px 603px #FFF, 2284px 1862px #FFF, 1009px 2458px #FFF, 1795px 2067px #FFF, 1272px 792px #FFF, 2105px 1080px #FFF, 902px 918px #FFF, 1460px 1781px #FFF, 2449px 347px #FFF, 1790px 1584px #FFF, 1926px 412px #FFF, 1467px 2123px #FFF, 750px 1974px #FFF, 1470px 880px #FFF, 139px 111px #FFF, 1315px 573px #FFF, 1743px 1542px #FFF, 2315px 2252px #FFF, 2012px 1147px #FFF, 1041px 1655px #FFF, 811px 2130px #FFF, 342px 1852px #FFF, 1070px 1093px #FFF, 1847px 2174px #FFF, 949px 1003px #FFF, 2393px 1819px #FFF, 1458px 1064px #FFF, 262px 5px #FFF, 1421px 434px #FFF, 103px 200px #FFF, 311px 1650px #FFF, 1409px 114px #FFF, 969px 1975px #FFF, 704px 2438px #FFF, 2341px 946px #FFF, 2032px 692px #FFF, 2136px 1084px #FFF, 1931px 13px #FFF, 683px 417px #FFF, 5px 800px #FFF, 610px 2412px #FFF, 1723px 188px #FFF, 1285px 978px #FFF, 1102px 2056px #FFF, 601px 1035px #FFF, 2185px 1871px #FFF, 2206px 1651px #FFF, 546px 1162px #FFF, 489px 1971px #FFF, 1714px 1617px #FFF, 438px 2058px #FFF, 1079px 1821px #FFF, 2447px 423px #FFF, 2111px 466px #FFF, 716px 638px #FFF, 785px 1738px #FFF, 1092px 1386px #FFF, 636px 1351px #FFF, 842px 2172px #FFF, 2196px 1899px #FFF, 1819px 1012px #FFF, 2267px 2432px #FFF, 554px 293px #FFF, 1524px 1479px #FFF, 2012px 532px #FFF, 2472px 1540px #FFF, 1407px 432px #FFF, 189px 1576px #FFF, 2306px 1068px #FFF, 2496px 405px #FFF, 1744px 990px #FFF, 418px 368px #FFF, 657px 2180px #FFF, 291px 1715px #FFF, 1768px 1759px #FFF, 1807px 1714px #FFF, 356px 2349px #FFF, 2382px 2497px #FFF, 2283px 671px #FFF, 1951px 1177px #FFF, 2425px 2263px #FFF, 1307px 812px #FFF, 339px 2124px #FFF, 1747px 487px #FFF, 1210px 21px #FFF, 1867px 2297px #FFF, 633px 2142px #FFF, 1153px 667px #FFF, 431px 1795px #FFF, 2053px 1303px #FFF, 402px 1932px #FFF, 1540px 1364px #FFF, 1463px 2291px #FFF, 1232px 1188px #FFF, 2229px 2363px #FFF, 864px 1957px #FFF, 863px 891px #FFF, 1536px 139px #FFF, 204px 1149px #FFF, 807px 1772px #FFF, 1294px 1053px #FFF, 1708px 107px #FFF, 337px 693px #FFF, 2374px 2293px #FFF, 771px 1058px #FFF, 843px 1539px #FFF, 1180px 181px #FFF, 2045px 1341px #FFF, 1858px 1099px #FFF, 1004px 1423px #FFF, 232px 644px #FFF, 1659px 254px #FFF, 1792px 1066px #FFF, 2179px 1014px #FFF, 2338px 159px #FFF, 281px 2328px #FFF, 1450px 1022px #FFF, 2025px 893px #FFF, 2340px 234px #FFF, 1765px 799px #FFF, 1344px 2206px #FFF, 1206px 2437px #FFF, 1306px 771px #FFF, 1018px 2024px #FFF, 1626px 2469px #FFF, 273px 1175px #FFF, 1758px 905px #FFF, 1049px 2127px #FFF, 990px 338px #FFF, 653px 1483px #FFF, 1435px 1550px #FFF, 1556px 851px #FFF, 1011px 2359px #FFF, 1922px 1315px #FFF, 2401px 1371px #FFF, 976px 43px #FFF, 78px 1243px #FFF, 2408px 498px #FFF, 493px 637px #FFF, 292px 1373px #FFF, 1994px 657px #FFF, 1017px 1663px #FFF, 2456px 1257px #FFF, 414px 2020px #FFF, 441px 175px #FFF, 1020px 632px #FFF, 1455px 1396px #FFF, 510px 720px #FFF, 437px 66px #FFF, 150px 845px #FFF, 819px 60px #FFF, 986px 1052px #FFF, 960px 1107px #FFF, 615px 2381px #FFF, 2014px 282px #FFF, 98px 1754px #FFF, 854px 1685px #FFF, 2367px 935px #FFF, 1102px 1327px #FFF, 46px 347px #FFF, 2171px 1007px #FFF, 595px 527px #FFF, 1482px 1098px #FFF, 923px 2105px #FFF, 687px 2145px #FFF, 988px 123px #FFF, 2174px 2388px #FFF, 2381px 2460px #FFF, 1656px 2273px #FFF, 1545px 2292px #FFF, 919px 1437px #FFF, 165px 249px #FFF, 600px 1102px #FFF, 1759px 1521px #FFF, 1941px 271px #FFF, 1457px 2232px #FFF, 1091px 130px #FFF, 1380px 55px #FFF, 419px 2410px #FFF, 1011px 14px #FFF, 1042px 1034px #FFF, 1241px 501px #FFF, 2421px 2485px #FFF, 346px 1074px #FFF, 1388px 1692px #FFF, 2331px 373px #FFF, 942px 2325px #FFF, 1058px 21px #FFF, 86px 1965px #FFF, 651px 1372px #FFF, 2291px 108px #FFF, 606px 868px #FFF, 1044px 605px #FFF, 1318px 2357px #FFF, 1813px 1383px #FFF, 1964px 1372px #FFF, 1786px 1530px #FFF, 2427px 791px #FFF, 224px 1539px #FFF, 965px 1662px #FFF, 427px 944px #FFF, 1965px 1325px #FFF, 131px 1544px #FFF, 2228px 1700px #FFF, 1982px 1841px #FFF, 2381px 1272px #FFF, 899px 1781px #FFF, 320px 2298px #FFF, 1145px 1483px #FFF, 844px 1431px #FFF, 2379px 1967px #FFF, 1941px 1174px #FFF, 2283px 1582px #FFF, 54px 1107px #FFF, 1235px 1609px #FFF, 2244px 1583px #FFF, 1949px 1689px #FFF, 45px 1812px #FFF, 1306px 48px #FFF, 1909px 69px #FFF, 1469px 1556px #FFF, 453px 832px #FFF, 286px 327px #FFF, 1898px 255px #FFF, 2393px 530px #FFF, 632px 1085px #FFF, 1391px 1673px #FFF, 1238px 2318px #FFF, 1404px 2410px #FFF, 2257px 765px #FFF, 441px 1171px #FFF, 813px 398px #FFF, 1795px 1317px #FFF, 1166px 2102px #FFF, 1739px 1122px #FFF, 1326px 2219px #FFF, 1931px 2292px #FFF, 1247px 271px #FFF, 782px 621px #FFF, 66px 644px #FFF, 492px 2008px #FFF, 429px 762px #FFF, 1198px 173px #FFF, 171px 439px #FFF, 2059px 2219px #FFF, 916px 725px #FFF, 2488px 1438px #FFF, 1096px 1783px #FFF, 2247px 622px #FFF, 2297px 1566px #FFF, 1043px 352px #FFF, 445px 542px #FFF, 2225px 2165px #FFF, 2229px 588px #FFF, 962px 346px #FFF, 1948px 2382px #FFF, 1213px 1640px #FFF, 272px 1898px #FFF, 46px 1685px #FFF, 1001px 1990px #FFF, 2409px 743px #FFF, 1272px 672px #FFF, 1106px 1215px #FFF, 1488px 1730px #FFF, 79px 356px #FFF, 83px 996px #FFF, 2162px 1366px #FFF, 1327px 1279px #FFF, 1430px 676px #FFF, 756px 159px #FFF, 604px 174px #FFF, 24px 1055px #FFF, 1737px 872px #FFF, 1464px 1150px #FFF, 1257px 1902px #FFF, 1870px 1019px #FFF, 2028px 989px #FFF, 853px 2217px #FFF, 678px 2291px #FFF, 224px 435px #FFF, 8px 331px #FFF, 1774px 1753px #FFF, 472px 2102px #FFF, 497px 334px #FFF, 1022px 1498px #FFF, 2114px 1233px #FFF, 845px 1275px #FFF, 1988px 1705px #FFF, 124px 477px #FFF, 73px 155px #FFF, 1116px 1745px #FFF, 200px 2030px #FFF, 1878px 419px #FFF, 2102px 1215px #FFF, 1327px 2279px #FFF, 1689px 670px #FFF, 992px 769px #FFF, 372px 1994px #FFF, 939px 715px #FFF, 1498px 1674px #FFF, 628px 331px #FFF, 129px 1283px #FFF, 2066px 420px #FFF, 1435px 90px #FFF, 2271px 1831px #FFF, 706px 340px #FFF, 1222px 1287px #FFF, 1224px 1882px #FFF, 314px 1115px #FFF, 190px 253px #FFF, 972px 1343px #FFF, 869px 112px #FFF, 1881px 2285px #FFF, 1709px 958px #FFF, 2040px 2096px #FFF, 1718px 1665px #FFF, 1141px 2170px #FFF, 966px 1216px #FFF, 2198px 1505px #FFF, 1378px 1767px #FFF, 2000px 2245px #FFF, 1685px 1910px #FFF, 2223px 824px #FFF, 2344px 32px #FFF, 964px 1209px #FFF, 1668px 311px #FFF, 209px 993px #FFF, 102px 1918px #FFF, 902px 1218px #FFF, 1447px 2077px #FFF, 798px 195px #FFF, 498px 1948px #FFF, 787px 1491px #FFF, 2232px 926px #FFF, 272px 1427px #FFF, 2402px 245px #FFF, 904px 1396px #FFF, 2469px 1089px #FFF, 984px 360px #FFF, 1355px 1285px #FFF, 213px 345px #FFF, 2292px 734px #FFF, 1294px 1894px #FFF, 1757px 1896px #FFF, 1344px 1385px #FFF, 1271px 192px #FFF, 2491px 1857px #FFF, 2472px 1085px #FFF, 834px 2013px #FFF, 1208px 126px #FFF, 1697px 110px #FFF, 1259px 1881px #FFF, 2084px 1943px #FFF, 1872px 2312px #FFF, 913px 1577px #FFF, 348px 1514px #FFF, 2281px 1925px #FFF, 66px 2221px #FFF, 2116px 968px #FFF, 1163px 606px #FFF, 2104px 1387px #FFF, 509px 90px #FFF, 1799px 1951px #FFF, 1817px 1646px #FFF, 547px 1822px #FFF, 2435px 1862px #FFF, 1087px 1500px #FFF, 1276px 825px #FFF, 1248px 1557px #FFF, 829px 290px #FFF, 1034px 2040px #FFF, 642px 1131px #FFF, 1219px 1194px #FFF, 1725px 836px #FFF, 267px 2424px #FFF, 2338px 149px #FFF, 1971px 2227px #FFF, 1941px 99px #FFF, 1403px 532px #FFF, 548px 207px #FFF, 2153px 1166px #FFF, 1222px 2413px #FFF, 1199px 1483px #FFF, 1568px 1976px #FFF, 464px 1487px #FFF, 2411px 1953px #FFF, 89px 790px #FFF, 1378px 1194px #FFF, 396px 152px #FFF, 518px 1077px #FFF, 1626px 1527px #FFF, 1423px 1925px #FFF, 2116px 137px #FFF, 2462px 909px #FFF, 187px 1923px #FFF, 1921px 518px #FFF, 1817px 1551px #FFF, 415px 2281px #FFF, 2486px 722px #FFF, 531px 813px #FFF, 619px 2043px #FFF, 1515px 803px #FFF, 1869px 1739px #FFF, 2369px 1300px #FFF, 2149px 255px #FFF, 1147px 1753px #FFF, 912px 2172px #FFF, 1808px 1051px #FFF, 1394px 1640px #FFF, 2218px 2402px #FFF, 1062px 274px #FFF, 2053px 472px #FFF, 2268px 2139px #FFF, 1774px 1302px #FFF, 1867px 122px #FFF, 702px 110px #FFF, 974px 917px #FFF, 561px 1092px #FFF, 1346px 1142px #FFF, 36px 1904px #FFF, 1291px 1138px #FFF, 849px 1495px #FFF, 2384px 1976px #FFF, 2249px 93px #FFF, 1134px 1789px #FFF, 776px 2393px #FFF, 228px 1618px #FFF, 1175px 238px #FFF, 2308px 793px #FFF, 1753px 988px #FFF, 1278px 360px #FFF, 1901px 228px #FFF, 2248px 1394px #FFF, 1062px 1692px #FFF, 1745px 1023px #FFF, 1936px 237px #FFF, 1689px 2126px #FFF, 184px 554px #FFF, 1792px 1926px #FFF, 865px 442px #FFF, 2498px 1237px #FFF, 1613px 1665px #FFF, 1749px 2337px #FFF, 2370px 1462px #FFF, 1668px 655px #FFF, 1036px 1369px #FFF, 2001px 2119px #FFF, 1178px 1935px #FFF, 1615px 1766px #FFF, 579px 254px #FFF, 2250px 301px #FFF, 1627px 2031px #FFF, 2045px 143px #FFF, 856px 587px #FFF, 1307px 1867px #FFF, 1823px 1902px #FFF, 695px 1290px #FFF, 504px 400px #FFF, 2016px 1005px #FFF, 2034px 1345px #FFF, 2443px 2165px #FFF, 1030px 314px #FFF, 980px 527px #FFF, 277px 1620px #FFF, 1317px 269px #FFF, 2208px 745px #FFF, 341px 836px #FFF, 364px 1519px #FFF, 1939px 1148px #FFF, 463px 2204px #FFF, 2118px 370px #FFF, 54px 2463px #FFF, 2128px 1976px #FFF, 1866px 1767px #FFF, 1949px 1545px #FFF, 1686px 1820px #FFF, 663px 1989px #FFF, 1574px 336px #FFF, 340px 1626px #FFF, 63px 640px #FFF, 924px 2463px #FFF, 113px 903px #FFF, 998px 2411px #FFF, 741px 1479px #FFF, 1389px 544px #FFF, 2218px 367px #FFF, 1641px 625px #FFF, 849px 364px #FFF, 314px 2025px #FFF, 828px 2268px #FFF, 1138px 429px #FFF, 1727px 1167px #FFF, 1329px 691px #FFF, 579px 1690px #FFF, 1209px 1342px #FFF, 1396px 1516px #FFF, 964px 641px #FFF, 348px 1258px #FFF, 1328px 2221px #FFF, 1388px 2448px #FFF, 2126px 115px #FFF, 703px 2250px #FFF, 201px 789px #FFF, 1774px 2124px #FFF, 1517px 2097px #FFF, 1571px 1681px #FFF, 307px 1807px #FFF, 2243px 2410px #FFF, 987px 1240px #FFF, 216px 1750px #FFF, 2429px 2290px #FFF, 1545px 1185px #FFF, 223px 1183px #FFF, 1634px 1888px #FFF, 1367px 830px #FFF, 2007px 1027px #FFF, 1349px 1047px #FFF, 2482px 706px #FFF, 1713px 970px #FFF, 912px 531px #FFF, 1046px 2498px #FFF, 853px 1090px #FFF, 1266px 727px #FFF, 2204px 942px #FFF, 1231px 1621px #FFF, 2271px 989px #FFF, 736px 1993px #FFF, 784px 926px #FFF, 2453px 1187px #FFF, 2235px 791px #FFF, 200px 1791px #FFF, 180px 2243px #FFF, 1017px 564px #FFF, 291px 1763px #FFF, 437px 1582px #FFF, 193px 2323px #FFF, 1543px 122px #FFF, 280px 448px #FFF, 1063px 686px #FFF, 1875px 2039px #FFF, 1555px 2006px #FFF;
    -webkit-animation: animStar 30s infinite linear;
    -moz-animation: animStar 30s infinite linear;
    animation: animStar 30s infinite linear
}
.bubl1:after {
    content: " ";
    position: absolute;
    top: 2500px;
    width: 2px;
    height: 2px;
    border-radius:100%;
    background: transparent;
    box-shadow: 2032px 449px #FFF, 1683px 605px #FFF, 1522px 2312px #FFF, 250px 2364px #FFF, 1767px 976px #FFF, 1009px 319px #FFF, 1975px 1618px #FFF, 440px 953px #FFF, 446px 1170px #FFF, 1040px 1573px #FFF, 356px 2349px #FFF, 2166px 2440px #FFF, 437px 1437px #FFF, 799px 1422px #FFF, 1567px 1725px #FFF, 2479px 1870px #FFF, 2496px 1062px #FFF, 1618px 1916px #FFF, 2097px 2167px #FFF, 1658px 2168px #FFF, 617px 802px #FFF, 218px 1810px #FFF, 2145px 161px #FFF, 1735px 141px #FFF, 1783px 840px #FFF, 59px 477px #FFF, 1518px 754px #FFF, 2343px 388px #FFF, 1097px 2111px #FFF, 2085px 2473px #FFF, 1694px 1492px #FFF, 2154px 674px #FFF, 840px 1964px #FFF, 1908px 1500px #FFF, 2281px 379px #FFF, 689px 223px #FFF, 453px 2098px #FFF, 559px 651px #FFF, 1504px 2385px #FFF, 440px 8px #FFF, 2263px 54px #FFF, 1400px 760px #FFF, 545px 1922px #FFF, 2401px 577px #FFF, 1943px 578px #FFF, 436px 125px #FFF, 1460px 186px #FFF, 2009px 852px #FFF, 94px 746px #FFF, 508px 535px #FFF, 1328px 373px #FFF, 429px 458px #FFF, 1081px 1977px #FFF, 1181px 349px #FFF, 1855px 1894px #FFF, 2352px 824px #FFF, 2023px 2256px #FFF, 574px 998px #FFF, 137px 2128px #FFF, 1415px 1003px #FFF, 1873px 363px #FFF, 530px 223px #FFF, 2400px 1390px #FFF, 1px 2335px #FFF, 939px 189px #FFF, 183px 135px #FFF, 2460px 1522px #FFF, 2031px 1500px #FFF, 2061px 2134px #FFF, 1853px 1147px #FFF, 1749px 1551px #FFF, 261px 1977px #FFF, 1069px 887px #FFF, 2382px 135px #FFF, 1779px 1448px #FFF, 689px 1788px #FFF, 1936px 919px #FFF, 1099px 1910px #FFF, 403px 1923px #FFF, 410px 2061px #FFF, 1735px 850px #FFF, 1787px 235px #FFF, 2382px 300px #FFF, 2083px 952px #FFF, 1207px 1327px #FFF, 1449px 1120px #FFF, 1009px 357px #FFF, 2328px 815px #FFF, 1298px 1844px #FFF, 382px 1028px #FFF, 691px 1360px #FFF, 1302px 1092px #FFF, 79px 1641px #FFF, 2456px 386px #FFF, 1388px 1605px #FFF, 630px 303px #FFF, 2041px 600px #FFF, 890px 1302px #FFF, 925px 2205px #FFF, 690px 1178px #FFF, 242px 1012px #FFF, 177px 2345px #FFF, 1317px 815px #FFF, 406px 867px #FFF, 726px 806px #FFF, 2450px 164px #FFF, 1771px 767px #FFF, 672px 1144px #FFF, 1946px 972px #FFF, 29px 169px #FFF, 1242px 2377px #FFF, 601px 2485px #FFF, 147px 1745px #FFF, 1240px 265px #FFF, 1212px 906px #FFF, 473px 978px #FFF, 2049px 969px #FFF, 1518px 713px #FFF, 1117px 1436px #FFF, 704px 2177px #FFF, 566px 2426px #FFF, 1691px 1239px #FFF, 727px 2370px #FFF, 2035px 2369px #FFF, 1479px 864px #FFF, 1324px 635px #FFF, 1461px 1450px #FFF, 1083px 1543px #FFF, 2334px 791px #FFF, 2273px 2056px #FFF, 2037px 2452px #FFF, 581px 2px #FFF, 904px 1308px #FFF, 919px 1050px #FFF, 1256px 87px #FFF, 342px 476px #FFF, 442px 388px #FFF, 370px 1954px #FFF, 1749px 2185px #FFF, 2291px 128px #FFF, 491px 754px #FFF, 2108px 1170px #FFF, 1126px 202px #FFF, 2413px 81px #FFF, 1602px 1610px #FFF, 1159px 840px #FFF, 1099px 513px #FFF, 219px 2099px #FFF, 1029px 1791px #FFF, 2298px 462px #FFF, 1900px 7px #FFF, 643px 519px #FFF, 2482px 1855px #FFF, 1662px 1743px #FFF, 154px 2259px #FFF, 194px 628px #FFF, 1090px 2062px #FFF, 2348px 957px #FFF, 1889px 375px #FFF, 1897px 603px #FFF, 2284px 1862px #FFF, 1009px 2458px #FFF, 1795px 2067px #FFF, 1272px 792px #FFF, 2105px 1080px #FFF, 902px 918px #FFF, 1460px 1781px #FFF, 2449px 347px #FFF, 1790px 1584px #FFF, 1926px 412px #FFF, 1467px 2123px #FFF, 750px 1974px #FFF, 1470px 880px #FFF, 139px 111px #FFF, 1315px 573px #FFF, 1743px 1542px #FFF, 2315px 2252px #FFF, 2012px 1147px #FFF, 1041px 1655px #FFF, 811px 2130px #FFF, 342px 1852px #FFF, 1070px 1093px #FFF, 1847px 2174px #FFF, 949px 1003px #FFF, 2393px 1819px #FFF, 1458px 1064px #FFF, 262px 5px #FFF, 1421px 434px #FFF, 103px 200px #FFF, 311px 1650px #FFF, 1409px 114px #FFF, 969px 1975px #FFF, 704px 2438px #FFF, 2341px 946px #FFF, 2032px 692px #FFF, 2136px 1084px #FFF, 1931px 13px #FFF, 683px 417px #FFF, 5px 800px #FFF, 610px 2412px #FFF, 1723px 188px #FFF, 1285px 978px #FFF, 1102px 2056px #FFF, 601px 1035px #FFF, 2185px 1871px #FFF, 2206px 1651px #FFF, 546px 1162px #FFF, 489px 1971px #FFF, 1714px 1617px #FFF, 438px 2058px #FFF, 1079px 1821px #FFF, 2447px 423px #FFF, 2111px 466px #FFF, 716px 638px #FFF, 785px 1738px #FFF, 1092px 1386px #FFF, 636px 1351px #FFF, 842px 2172px #FFF, 2196px 1899px #FFF, 1819px 1012px #FFF, 2267px 2432px #FFF, 554px 293px #FFF, 1524px 1479px #FFF, 2012px 532px #FFF, 2472px 1540px #FFF, 1407px 432px #FFF, 189px 1576px #FFF, 2306px 1068px #FFF, 2496px 405px #FFF, 1744px 990px #FFF, 418px 368px #FFF, 657px 2180px #FFF, 291px 1715px #FFF, 1768px 1759px #FFF, 1807px 1714px #FFF, 356px 2349px #FFF, 2382px 2497px #FFF, 2283px 671px #FFF, 1951px 1177px #FFF, 2425px 2263px #FFF, 1307px 812px #FFF, 339px 2124px #FFF, 1747px 487px #FFF, 1210px 21px #FFF, 1867px 2297px #FFF, 633px 2142px #FFF, 1153px 667px #FFF, 431px 1795px #FFF, 2053px 1303px #FFF, 402px 1932px #FFF, 1540px 1364px #FFF, 1463px 2291px #FFF, 1232px 1188px #FFF, 2229px 2363px #FFF, 864px 1957px #FFF, 863px 891px #FFF, 1536px 139px #FFF, 204px 1149px #FFF, 807px 1772px #FFF, 1294px 1053px #FFF, 1708px 107px #FFF, 337px 693px #FFF, 2374px 2293px #FFF, 771px 1058px #FFF, 843px 1539px #FFF, 1180px 181px #FFF, 2045px 1341px #FFF, 1858px 1099px #FFF, 1004px 1423px #FFF, 232px 644px #FFF, 1659px 254px #FFF, 1792px 1066px #FFF, 2179px 1014px #FFF, 2338px 159px #FFF, 281px 2328px #FFF, 1450px 1022px #FFF, 2025px 893px #FFF, 2340px 234px #FFF, 1765px 799px #FFF, 1344px 2206px #FFF, 1206px 2437px #FFF, 1306px 771px #FFF, 1018px 2024px #FFF, 1626px 2469px #FFF, 273px 1175px #FFF, 1758px 905px #FFF, 1049px 2127px #FFF, 990px 338px #FFF, 653px 1483px #FFF, 1435px 1550px #FFF, 1556px 851px #FFF, 1011px 2359px #FFF, 1922px 1315px #FFF, 2401px 1371px #FFF, 976px 43px #FFF, 78px 1243px #FFF, 2408px 498px #FFF, 493px 637px #FFF, 292px 1373px #FFF, 1994px 657px #FFF, 1017px 1663px #FFF, 2456px 1257px #FFF, 414px 2020px #FFF, 441px 175px #FFF, 1020px 632px #FFF, 1455px 1396px #FFF, 510px 720px #FFF, 437px 66px #FFF, 150px 845px #FFF, 819px 60px #FFF, 986px 1052px #FFF, 960px 1107px #FFF, 615px 2381px #FFF, 2014px 282px #FFF, 98px 1754px #FFF, 854px 1685px #FFF, 2367px 935px #FFF, 1102px 1327px #FFF, 46px 347px #FFF, 2171px 1007px #FFF, 595px 527px #FFF, 1482px 1098px #FFF, 923px 2105px #FFF, 687px 2145px #FFF, 988px 123px #FFF, 2174px 2388px #FFF, 2381px 2460px #FFF, 1656px 2273px #FFF, 1545px 2292px #FFF, 919px 1437px #FFF, 165px 249px #FFF, 600px 1102px #FFF, 1759px 1521px #FFF, 1941px 271px #FFF, 1457px 2232px #FFF, 1091px 130px #FFF, 1380px 55px #FFF, 419px 2410px #FFF, 1011px 14px #FFF, 1042px 1034px #FFF, 1241px 501px #FFF, 2421px 2485px #FFF, 346px 1074px #FFF, 1388px 1692px #FFF, 2331px 373px #FFF, 942px 2325px #FFF, 1058px 21px #FFF, 86px 1965px #FFF, 651px 1372px #FFF, 2291px 108px #FFF, 606px 868px #FFF, 1044px 605px #FFF, 1318px 2357px #FFF, 1813px 1383px #FFF, 1964px 1372px #FFF, 1786px 1530px #FFF, 2427px 791px #FFF, 224px 1539px #FFF, 965px 1662px #FFF, 427px 944px #FFF, 1965px 1325px #FFF, 131px 1544px #FFF, 2228px 1700px #FFF, 1982px 1841px #FFF, 2381px 1272px #FFF, 899px 1781px #FFF, 320px 2298px #FFF, 1145px 1483px #FFF, 844px 1431px #FFF, 2379px 1967px #FFF, 1941px 1174px #FFF, 2283px 1582px #FFF, 54px 1107px #FFF, 1235px 1609px #FFF, 2244px 1583px #FFF, 1949px 1689px #FFF, 45px 1812px #FFF, 1306px 48px #FFF, 1909px 69px #FFF, 1469px 1556px #FFF, 453px 832px #FFF, 286px 327px #FFF, 1898px 255px #FFF, 2393px 530px #FFF, 632px 1085px #FFF, 1391px 1673px #FFF, 1238px 2318px #FFF, 1404px 2410px #FFF, 2257px 765px #FFF, 441px 1171px #FFF, 813px 398px #FFF, 1795px 1317px #FFF, 1166px 2102px #FFF, 1739px 1122px #FFF, 1326px 2219px #FFF, 1931px 2292px #FFF, 1247px 271px #FFF, 782px 621px #FFF, 66px 644px #FFF, 492px 2008px #FFF, 429px 762px #FFF, 1198px 173px #FFF, 171px 439px #FFF, 2059px 2219px #FFF, 916px 725px #FFF, 2488px 1438px #FFF, 1096px 1783px #FFF, 2247px 622px #FFF, 2297px 1566px #FFF, 1043px 352px #FFF, 445px 542px #FFF, 2225px 2165px #FFF, 2229px 588px #FFF, 962px 346px #FFF, 1948px 2382px #FFF, 1213px 1640px #FFF, 272px 1898px #FFF, 46px 1685px #FFF, 1001px 1990px #FFF, 2409px 743px #FFF, 1272px 672px #FFF, 1106px 1215px #FFF, 1488px 1730px #FFF, 79px 356px #FFF, 83px 996px #FFF, 2162px 1366px #FFF, 1327px 1279px #FFF, 1430px 676px #FFF, 756px 159px #FFF, 604px 174px #FFF, 24px 1055px #FFF, 1737px 872px #FFF, 1464px 1150px #FFF, 1257px 1902px #FFF, 1870px 1019px #FFF, 2028px 989px #FFF, 853px 2217px #FFF, 678px 2291px #FFF, 224px 435px #FFF, 8px 331px #FFF, 1774px 1753px #FFF, 472px 2102px #FFF, 497px 334px #FFF, 1022px 1498px #FFF, 2114px 1233px #FFF, 845px 1275px #FFF, 1988px 1705px #FFF, 124px 477px #FFF, 73px 155px #FFF, 1116px 1745px #FFF, 200px 2030px #FFF, 1878px 419px #FFF, 2102px 1215px #FFF, 1327px 2279px #FFF, 1689px 670px #FFF, 992px 769px #FFF, 372px 1994px #FFF, 939px 715px #FFF, 1498px 1674px #FFF, 628px 331px #FFF, 129px 1283px #FFF, 2066px 420px #FFF, 1435px 90px #FFF, 2271px 1831px #FFF, 706px 340px #FFF, 1222px 1287px #FFF, 1224px 1882px #FFF, 314px 1115px #FFF, 190px 253px #FFF, 972px 1343px #FFF, 869px 112px #FFF, 1881px 2285px #FFF, 1709px 958px #FFF, 2040px 2096px #FFF, 1718px 1665px #FFF, 1141px 2170px #FFF, 966px 1216px #FFF, 2198px 1505px #FFF, 1378px 1767px #FFF, 2000px 2245px #FFF, 1685px 1910px #FFF, 2223px 824px #FFF, 2344px 32px #FFF, 964px 1209px #FFF, 1668px 311px #FFF, 209px 993px #FFF, 102px 1918px #FFF, 902px 1218px #FFF, 1447px 2077px #FFF, 798px 195px #FFF, 498px 1948px #FFF, 787px 1491px #FFF, 2232px 926px #FFF, 272px 1427px #FFF, 2402px 245px #FFF, 904px 1396px #FFF, 2469px 1089px #FFF, 984px 360px #FFF, 1355px 1285px #FFF, 213px 345px #FFF, 2292px 734px #FFF, 1294px 1894px #FFF, 1757px 1896px #FFF, 1344px 1385px #FFF, 1271px 192px #FFF, 2491px 1857px #FFF, 2472px 1085px #FFF, 834px 2013px #FFF, 1208px 126px #FFF, 1697px 110px #FFF, 1259px 1881px #FFF, 2084px 1943px #FFF, 1872px 2312px #FFF, 913px 1577px #FFF, 348px 1514px #FFF, 2281px 1925px #FFF, 66px 2221px #FFF, 2116px 968px #FFF, 1163px 606px #FFF, 2104px 1387px #FFF, 509px 90px #FFF, 1799px 1951px #FFF, 1817px 1646px #FFF, 547px 1822px #FFF, 2435px 1862px #FFF, 1087px 1500px #FFF, 1276px 825px #FFF, 1248px 1557px #FFF, 829px 290px #FFF, 1034px 2040px #FFF, 642px 1131px #FFF, 1219px 1194px #FFF, 1725px 836px #FFF, 267px 2424px #FFF, 2338px 149px #FFF, 1971px 2227px #FFF, 1941px 99px #FFF, 1403px 532px #FFF, 548px 207px #FFF, 2153px 1166px #FFF, 1222px 2413px #FFF, 1199px 1483px #FFF, 1568px 1976px #FFF, 464px 1487px #FFF, 2411px 1953px #FFF, 89px 790px #FFF, 1378px 1194px #FFF, 396px 152px #FFF, 518px 1077px #FFF, 1626px 1527px #FFF, 1423px 1925px #FFF, 2116px 137px #FFF, 2462px 909px #FFF, 187px 1923px #FFF, 1921px 518px #FFF, 1817px 1551px #FFF, 415px 2281px #FFF, 2486px 722px #FFF, 531px 813px #FFF, 619px 2043px #FFF, 1515px 803px #FFF, 1869px 1739px #FFF, 2369px 1300px #FFF, 2149px 255px #FFF, 1147px 1753px #FFF, 912px 2172px #FFF, 1808px 1051px #FFF, 1394px 1640px #FFF, 2218px 2402px #FFF, 1062px 274px #FFF, 2053px 472px #FFF, 2268px 2139px #FFF, 1774px 1302px #FFF, 1867px 122px #FFF, 702px 110px #FFF, 974px 917px #FFF, 561px 1092px #FFF, 1346px 1142px #FFF, 36px 1904px #FFF, 1291px 1138px #FFF, 849px 1495px #FFF, 2384px 1976px #FFF, 2249px 93px #FFF, 1134px 1789px #FFF, 776px 2393px #FFF, 228px 1618px #FFF, 1175px 238px #FFF, 2308px 793px #FFF, 1753px 988px #FFF, 1278px 360px #FFF, 1901px 228px #FFF, 2248px 1394px #FFF, 1062px 1692px #FFF, 1745px 1023px #FFF, 1936px 237px #FFF, 1689px 2126px #FFF, 184px 554px #FFF, 1792px 1926px #FFF, 865px 442px #FFF, 2498px 1237px #FFF, 1613px 1665px #FFF, 1749px 2337px #FFF, 2370px 1462px #FFF, 1668px 655px #FFF, 1036px 1369px #FFF, 2001px 2119px #FFF, 1178px 1935px #FFF, 1615px 1766px #FFF, 579px 254px #FFF, 2250px 301px #FFF, 1627px 2031px #FFF, 2045px 143px #FFF, 856px 587px #FFF, 1307px 1867px #FFF, 1823px 1902px #FFF, 695px 1290px #FFF, 504px 400px #FFF, 2016px 1005px #FFF, 2034px 1345px #FFF, 2443px 2165px #FFF, 1030px 314px #FFF, 980px 527px #FFF, 277px 1620px #FFF, 1317px 269px #FFF, 2208px 745px #FFF, 341px 836px #FFF, 364px 1519px #FFF, 1939px 1148px #FFF, 463px 2204px #FFF, 2118px 370px #FFF, 54px 2463px #FFF, 2128px 1976px #FFF, 1866px 1767px #FFF, 1949px 1545px #FFF, 1686px 1820px #FFF, 663px 1989px #FFF, 1574px 336px #FFF, 340px 1626px #FFF, 63px 640px #FFF, 924px 2463px #FFF, 113px 903px #FFF, 998px 2411px #FFF, 741px 1479px #FFF, 1389px 544px #FFF, 2218px 367px #FFF, 1641px 625px #FFF, 849px 364px #FFF, 314px 2025px #FFF, 828px 2268px #FFF, 1138px 429px #FFF, 1727px 1167px #FFF, 1329px 691px #FFF, 579px 1690px #FFF, 1209px 1342px #FFF, 1396px 1516px #FFF, 964px 641px #FFF, 348px 1258px #FFF, 1328px 2221px #FFF, 1388px 2448px #FFF, 2126px 115px #FFF, 703px 2250px #FFF, 201px 789px #FFF, 1774px 2124px #FFF, 1517px 2097px #FFF, 1571px 1681px #FFF, 307px 1807px #FFF, 2243px 2410px #FFF, 987px 1240px #FFF, 216px 1750px #FFF, 2429px 2290px #FFF, 1545px 1185px #FFF, 223px 1183px #FFF, 1634px 1888px #FFF, 1367px 830px #FFF, 2007px 1027px #FFF, 1349px 1047px #FFF, 2482px 706px #FFF, 1713px 970px #FFF, 912px 531px #FFF, 1046px 2498px #FFF, 853px 1090px #FFF, 1266px 727px #FFF, 2204px 942px #FFF, 1231px 1621px #FFF, 2271px 989px #FFF, 736px 1993px #FFF, 784px 926px #FFF, 2453px 1187px #FFF, 2235px 791px #FFF, 200px 1791px #FFF, 180px 2243px #FFF, 1017px 564px #FFF, 291px 1763px #FFF, 437px 1582px #FFF, 193px 2323px #FFF, 1543px 122px #FFF, 280px 448px #FFF, 1063px 686px #FFF, 1875px 2039px #FFF, 1555px 2006px #FFF
}
.bubl2 {
    width: 3px;
    height: 3px;
    border-radius:100%;
    background: transparent;
    box-shadow: 1116px 85px #FFF, 2043px 2177px #FFF, 2002px 707px #FFF, 1248px 1583px #FFF, 614px 299px #FFF, 616px 1786px #FFF, 1605px 124px #FFF, 2324px 750px #FFF, 1205px 1410px #FFF, 1334px 499px #FFF, 1597px 2459px #FFF, 578px 1317px #FFF, 1086px 607px #FFF, 815px 155px #FFF, 1471px 2315px #FFF, 1757px 520px #FFF, 209px 870px #FFF, 597px 464px #FFF, 1397px 850px #FFF, 2189px 2236px #FFF, 1424px 2244px #FFF, 836px 439px #FFF, 2389px 138px #FFF, 2161px 794px #FFF, 1030px 28px #FFF, 847px 212px #FFF, 1754px 2400px #FFF, 931px 466px #FFF, 1236px 2143px #FFF, 856px 2443px #FFF, 354px 1420px #FFF, 1973px 2181px #FFF, 1287px 1823px #FFF, 292px 1279px #FFF, 1935px 1925px #FFF, 1412px 69px #FFF, 511px 227px #FFF, 17px 2114px #FFF, 408px 1312px #FFF, 150px 2081px #FFF, 1774px 323px #FFF, 1355px 1390px #FFF, 511px 440px #FFF, 417px 1451px #FFF, 1639px 196px #FFF, 597px 617px #FFF, 1747px 944px #FFF, 2383px 453px #FFF, 2434px 564px #FFF, 920px 915px #FFF, 2388px 833px #FFF, 168px 2369px #FFF, 302px 384px #FFF, 1844px 928px #FFF, 1133px 822px #FFF, 1557px 1725px #FFF, 1311px 773px #FFF, 2028px 2079px #FFF, 2383px 1px #FFF, 2132px 456px #FFF, 468px 824px #FFF, 900px 641px #FFF, 1619px 1063px #FFF, 1260px 2199px #FFF, 824px 1078px #FFF, 590px 35px #FFF, 406px 2001px #FFF, 1752px 1729px #FFF, 288px 156px #FFF, 191px 1930px #FFF, 387px 164px #FFF, 1120px 2011px #FFF, 1021px 1256px #FFF, 1554px 1830px #FFF, 671px 1068px #FFF, 1952px 2117px #FFF, 1648px 2179px #FFF, 1360px 98px #FFF, 2388px 1047px #FFF, 2339px 2453px #FFF, 1153px 187px #FFF, 2309px 585px #FFF, 1557px 1342px #FFF, 1378px 2082px #FFF, 192px 740px #FFF, 879px 910px #FFF, 1414px 1785px #FFF, 752px 480px #FFF, 351px 2464px #FFF, 1454px 599px #FFF, 2099px 264px #FFF, 414px 1877px #FFF, 873px 730px #FFF, 1913px 1907px #FFF, 924px 1009px #FFF, 99px 2244px #FFF, 975px 453px #FFF, 191px 966px #FFF, 1933px 966px #FFF, 1197px 1673px #FFF, 1968px 1892px #FFF, 2197px 951px #FFF, 757px 2124px #FFF, 931px 1047px #FFF, 1098px 1913px #FFF, 2047px 2135px #FFF, 620px 1609px #FFF, 1877px 1734px #FFF, 191px 395px #FFF, 672px 1023px #FFF, 122px 1331px #FFF, 1211px 279px #FFF, 2323px 595px #FFF, 2398px 2238px #FFF, 1158px 1121px #FFF, 1285px 2422px #FFF, 2330px 227px #FFF, 28px 85px #FFF, 782px 750px #FFF, 482px 351px #FFF, 387px 2397px #FFF, 113px 2309px #FFF, 1001px 2284px #FFF, 1858px 1940px #FFF, 1881px 1617px #FFF, 2045px 2412px #FFF, 1246px 770px #FFF, 1448px 1752px #FFF, 1269px 2059px #FFF, 799px 25px #FFF, 2478px 1170px #FFF, 1275px 476px #FFF, 2015px 1751px #FFF, 844px 2102px #FFF, 624px 1402px #FFF, 574px 1806px #FFF, 1838px 1812px #FFF, 2461px 741px #FFF, 254px 911px #FFF, 1801px 1023px #FFF, 649px 1584px #FFF, 2121px 610px #FFF, 2225px 1575px #FFF, 793px 1267px #FFF, 365px 533px #FFF, 2400px 1057px #FFF, 1280px 1223px #FFF, 326px 54px #FFF, 1458px 1004px #FFF, 471px 182px #FFF, 1708px 2314px #FFF, 668px 1781px #FFF, 806px 1386px #FFF, 1270px 1063px #FFF, 1507px 262px #FFF, 2334px 674px #FFF, 1271px 2235px #FFF, 230px 815px #FFF, 1254px 1608px #FFF, 1364px 2016px #FFF, 553px 256px #FFF, 1089px 1453px #FFF, 1642px 2430px #FFF, 1519px 143px #FFF, 1553px 1286px #FFF, 937px 1703px #FFF, 2147px 2271px #FFF, 1617px 2050px #FFF, 1917px 1008px #FFF, 1371px 2356px #FFF, 1131px 917px #FFF, 147px 2269px #FFF, 1886px 1298px #FFF, 283px 906px #FFF, 1315px 1895px #FFF, 1856px 439px #FFF, 1584px 1103px #FFF, 1944px 2398px #FFF, 776px 606px #FFF, 2256px 2459px #FFF, 2037px 1832px #FFF, 2269px 1319px #FFF, 1394px 529px #FFF, 1210px 558px #FFF, 417px 132px #FFF, 2135px 1263px #FFF, 1564px 1137px #FFF, 1871px 1061px #FFF, 543px 343px #FFF, 649px 804px #FFF, 2190px 1514px #FFF, 1229px 1159px #FFF, 1287px 2361px #FFF, 1078px 75px #FFF, 630px 1638px #FFF, 1867px 569px #FFF, 357px 227px #FFF, 1131px 240px #FFF, 755px 1337px #FFF, 12px 848px #FFF;
    -webkit-animation: animStar 60s infinite linear;
    -moz-animation: animStar 60s infinite linear;
    animation: animStar 60s infinite linear
}
.bubl2:after {
    content: " ";
    position: absolute;
    top: 2500px;
    width: 3px;
    height: 3px;
    border-radius:100%;
    background: transparent;
    box-shadow: 1116px 85px #FFF, 2043px 2177px #FFF, 2002px 707px #FFF, 1248px 1583px #FFF, 614px 299px #FFF, 616px 1786px #FFF, 1605px 124px #FFF, 2324px 750px #FFF, 1205px 1410px #FFF, 1334px 499px #FFF, 1597px 2459px #FFF, 578px 1317px #FFF, 1086px 607px #FFF, 815px 155px #FFF, 1471px 2315px #FFF, 1757px 520px #FFF, 209px 870px #FFF, 597px 464px #FFF, 1397px 850px #FFF, 2189px 2236px #FFF, 1424px 2244px #FFF, 836px 439px #FFF, 2389px 138px #FFF, 2161px 794px #FFF, 1030px 28px #FFF, 847px 212px #FFF, 1754px 2400px #FFF, 931px 466px #FFF, 1236px 2143px #FFF, 856px 2443px #FFF, 354px 1420px #FFF, 1973px 2181px #FFF, 1287px 1823px #FFF, 292px 1279px #FFF, 1935px 1925px #FFF, 1412px 69px #FFF, 511px 227px #FFF, 17px 2114px #FFF, 408px 1312px #FFF, 150px 2081px #FFF, 1774px 323px #FFF, 1355px 1390px #FFF, 511px 440px #FFF, 417px 1451px #FFF, 1639px 196px #FFF, 597px 617px #FFF, 1747px 944px #FFF, 2383px 453px #FFF, 2434px 564px #FFF, 920px 915px #FFF, 2388px 833px #FFF, 168px 2369px #FFF, 302px 384px #FFF, 1844px 928px #FFF, 1133px 822px #FFF, 1557px 1725px #FFF, 1311px 773px #FFF, 2028px 2079px #FFF, 2383px 1px #FFF, 2132px 456px #FFF, 468px 824px #FFF, 900px 641px #FFF, 1619px 1063px #FFF, 1260px 2199px #FFF, 824px 1078px #FFF, 590px 35px #FFF, 406px 2001px #FFF, 1752px 1729px #FFF, 288px 156px #FFF, 191px 1930px #FFF, 387px 164px #FFF, 1120px 2011px #FFF, 1021px 1256px #FFF, 1554px 1830px #FFF, 671px 1068px #FFF, 1952px 2117px #FFF, 1648px 2179px #FFF, 1360px 98px #FFF, 2388px 1047px #FFF, 2339px 2453px #FFF, 1153px 187px #FFF, 2309px 585px #FFF, 1557px 1342px #FFF, 1378px 2082px #FFF, 192px 740px #FFF, 879px 910px #FFF, 1414px 1785px #FFF, 752px 480px #FFF, 351px 2464px #FFF, 1454px 599px #FFF, 2099px 264px #FFF, 414px 1877px #FFF, 873px 730px #FFF, 1913px 1907px #FFF, 924px 1009px #FFF, 99px 2244px #FFF, 975px 453px #FFF, 191px 966px #FFF, 1933px 966px #FFF, 1197px 1673px #FFF, 1968px 1892px #FFF, 2197px 951px #FFF, 757px 2124px #FFF, 931px 1047px #FFF, 1098px 1913px #FFF, 2047px 2135px #FFF, 620px 1609px #FFF, 1877px 1734px #FFF, 191px 395px #FFF, 672px 1023px #FFF, 122px 1331px #FFF, 1211px 279px #FFF, 2323px 595px #FFF, 2398px 2238px #FFF, 1158px 1121px #FFF, 1285px 2422px #FFF, 2330px 227px #FFF, 28px 85px #FFF, 782px 750px #FFF, 482px 351px #FFF, 387px 2397px #FFF, 113px 2309px #FFF, 1001px 2284px #FFF, 1858px 1940px #FFF, 1881px 1617px #FFF, 2045px 2412px #FFF, 1246px 770px #FFF, 1448px 1752px #FFF, 1269px 2059px #FFF, 799px 25px #FFF, 2478px 1170px #FFF, 1275px 476px #FFF, 2015px 1751px #FFF, 844px 2102px #FFF, 624px 1402px #FFF, 574px 1806px #FFF, 1838px 1812px #FFF, 2461px 741px #FFF, 254px 911px #FFF, 1801px 1023px #FFF, 649px 1584px #FFF, 2121px 610px #FFF, 2225px 1575px #FFF, 793px 1267px #FFF, 365px 533px #FFF, 2400px 1057px #FFF, 1280px 1223px #FFF, 326px 54px #FFF, 1458px 1004px #FFF, 471px 182px #FFF, 1708px 2314px #FFF, 668px 1781px #FFF, 806px 1386px #FFF, 1270px 1063px #FFF, 1507px 262px #FFF, 2334px 674px #FFF, 1271px 2235px #FFF, 230px 815px #FFF, 1254px 1608px #FFF, 1364px 2016px #FFF, 553px 256px #FFF, 1089px 1453px #FFF, 1642px 2430px #FFF, 1519px 143px #FFF, 1553px 1286px #FFF, 937px 1703px #FFF, 2147px 2271px #FFF, 1617px 2050px #FFF, 1917px 1008px #FFF, 1371px 2356px #FFF, 1131px 917px #FFF, 147px 2269px #FFF, 1886px 1298px #FFF, 283px 906px #FFF, 1315px 1895px #FFF, 1856px 439px #FFF, 1584px 1103px #FFF, 1944px 2398px #FFF, 776px 606px #FFF, 2256px 2459px #FFF, 2037px 1832px #FFF, 2269px 1319px #FFF, 1394px 529px #FFF, 1210px 558px #FFF, 417px 132px #FFF, 2135px 1263px #FFF, 1564px 1137px #FFF, 1871px 1061px #FFF, 543px 343px #FFF, 649px 804px #FFF, 2190px 1514px #FFF, 1229px 1159px #FFF, 1287px 2361px #FFF, 1078px 75px #FFF, 630px 1638px #FFF, 1867px 569px #FFF, 357px 227px #FFF, 1131px 240px #FFF, 755px 1337px #FFF, 12px 848px #FFF
}
.bubl3 {
    width:4px;
    height:4px;
    border-radius:100%;
    background: transparent;
    box-shadow: 1250px 1621px #FFF, 615px 2345px #FFF, 207px 1061px #FFF, 1411px 1519px #FFF, 838px 2364px #FFF, 23px 744px #FFF, 4px 2494px #FFF, 1102px 2465px #FFF, 1133px 2018px #FFF, 186px 916px #FFF, 2426px 1419px #FFF, 953px 1139px #FFF, 380px 1799px #FFF, 2277px 463px #FFF, 2357px 1692px #FFF, 538px 740px #FFF, 670px 305px #FFF, 390px 1455px #FFF, 82px 2200px #FFF, 729px 92px #FFF, 1774px 2379px #FFF, 2124px 1339px #FFF, 1187px 820px #FFF, 22px 188px #FFF, 1610px 1243px #FFF, 1853px 1275px #FFF, 1472px 1213px #FFF, 2456px 1319px #FFF, 1732px 684px #FFF, 278px 1px #FFF, 1605px 1px #FFF, 284px 2048px #FFF, 241px 720px #FFF, 318px 1123px #FFF, 131px 723px #FFF, 529px 1177px #FFF, 640px 202px #FFF, 1336px 131px #FFF, 860px 2044px #FFF, 1662px 1699px #FFF, 1492px 2198px #FFF, 1611px 81px #FFF, 914px 2419px #FFF, 1706px 1689px #FFF, 344px 2303px #FFF, 733px 717px #FFF, 1266px 375px #FFF, 1766px 228px #FFF, 2067px 2148px #FFF, 2105px 2065px #FFF, 1214px 1530px #FFF, 2206px 763px #FFF, 2192px 369px #FFF, 1762px 1643px #FFF, 2305px 2158px #FFF, 2318px 595px #FFF, 1749px 1743px #FFF, 1679px 2295px #FFF, 1154px 371px #FFF, 1229px 1436px #FFF, 2367px 1466px #FFF, 1137px 945px #FFF, 985px 332px #FFF, 1422px 351px #FFF, 1231px 65px #FFF, 1446px 2259px #FFF, 1711px 500px #FFF, 2188px 864px #FFF, 795px 942px #FFF, 431px 987px #FFF, 281px 1047px #FFF, 1249px 990px #FFF, 622px 158px #FFF, 1708px 1871px #FFF, 939px 6px #FFF, 1415px 1481px #FFF, 1073px 1301px #FFF, 50px 237px #FFF, 2127px 239px #FFF, 1833px 2116px #FFF, 2372px 874px #FFF, 761px 1345px #FFF, 571px 2190px #FFF, 1362px 963px #FFF, 1126px 1946px #FFF, 1123px 76px #FFF, 2037px 2342px #FFF, 1592px 1356px #FFF, 1988px 2209px #FFF, 578px 827px #FFF, 580px 2267px #FFF, 1908px 526px #FFF, 1415px 130px #FFF, 891px 1672px #FFF, 2416px 143px #FFF, 311px 615px #FFF, 984px 2105px #FFF, 501px 594px #FFF, 908px 2128px #FFF, 2179px 1666px #FFF;
    -webkit-animation: animStar 90s infinite linear;
    -moz-animation: animStar 90s infinite linear;
    animation: animStar 90s infinite linear
}
.bubl3:after {
    content: " ";
    position: absolute;
    top:2500px;
    width:4px;
    height:4px;
    border-radius:100%;
    background: transparent;
    box-shadow: 1250px 1621px #FFF, 615px 2345px #FFF, 207px 1061px #FFF, 1411px 1519px #FFF, 838px 2364px #FFF, 23px 744px #FFF, 4px 2494px #FFF, 1102px 2465px #FFF, 1133px 2018px #FFF, 186px 916px #FFF, 2426px 1419px #FFF, 953px 1139px #FFF, 380px 1799px #FFF, 2277px 463px #FFF, 2357px 1692px #FFF, 538px 740px #FFF, 670px 305px #FFF, 390px 1455px #FFF, 82px 2200px #FFF, 729px 92px #FFF, 1774px 2379px #FFF, 2124px 1339px #FFF, 1187px 820px #FFF, 22px 188px #FFF, 1610px 1243px #FFF, 1853px 1275px #FFF, 1472px 1213px #FFF, 2456px 1319px #FFF, 1732px 684px #FFF, 278px 1px #FFF, 1605px 1px #FFF, 284px 2048px #FFF, 241px 720px #FFF, 318px 1123px #FFF, 131px 723px #FFF, 529px 1177px #FFF, 640px 202px #FFF, 1336px 131px #FFF, 860px 2044px #FFF, 1662px 1699px #FFF, 1492px 2198px #FFF, 1611px 81px #FFF, 914px 2419px #FFF, 1706px 1689px #FFF, 344px 2303px #FFF, 733px 717px #FFF, 1266px 375px #FFF, 1766px 228px #FFF, 2067px 2148px #FFF, 2105px 2065px #FFF, 1214px 1530px #FFF, 2206px 763px #FFF, 2192px 369px #FFF, 1762px 1643px #FFF, 2305px 2158px #FFF, 2318px 595px #FFF, 1749px 1743px #FFF, 1679px 2295px #FFF, 1154px 371px #FFF, 1229px 1436px #FFF, 2367px 1466px #FFF, 1137px 945px #FFF, 985px 332px #FFF, 1422px 351px #FFF, 1231px 65px #FFF, 1446px 2259px #FFF, 1711px 500px #FFF, 2188px 864px #FFF, 795px 942px #FFF, 431px 987px #FFF, 281px 1047px #FFF, 1249px 990px #FFF, 622px 158px #FFF, 1708px 1871px #FFF, 939px 6px #FFF, 1415px 1481px #FFF, 1073px 1301px #FFF, 50px 237px #FFF, 2127px 239px #FFF, 1833px 2116px #FFF, 2372px 874px #FFF, 761px 1345px #FFF, 571px 2190px #FFF, 1362px 963px #FFF, 1126px 1946px #FFF, 1123px 76px #FFF, 2037px 2342px #FFF, 1592px 1356px #FFF, 1988px 2209px #FFF, 578px 827px #FFF, 580px 2267px #FFF, 1908px 526px #FFF, 1415px 130px #FFF, 891px 1672px #FFF, 2416px 143px #FFF, 311px 615px #FFF, 984px 2105px #FFF, 501px 594px #FFF, 908px 2128px #FFF, 2179px 1666px #FFF;
}
@-webkit-keyframes animStar {
    from {
        -webkit-transform: translateY(0px)
    }
    to {
        -webkit-transform: translateY(-2500px)
    }
}
@-moz-keyframes animStar {
    from {
        -moz-transform: translateY(0px)
    }
    to {
        -moz-transform: translateY(-2500px)
    }
}
@keyframes animStar {
    from {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    to {
        -webkit-transform: translateY(-2500px);
        -moz-transform: translateY(-2500px);
        -ms-transform: translateY(-2500px);
        -o-transform: translateY(-2500px);
        transform: translateY(-2500px)
    }
}